<?xml version="1.0"?>
<acl xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <resources>
        <resource id="Magento_Backend::admin">
            <resource id="Magento_Backend::stores">
                <resource id="Magento_Config::config">
                    <resource id="Flow2Print_Connector::config" title="Flow2Print Connector" sortOrder="900"/>
                </resource>
            </resource>
        </resource>
    </resources>
</acl>
